{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock stylesheets %}

{% block body %}

<div class="example-wrapper">
    <div class="card signup_v4 mb-30 bg-light">
        <div class="card-body">
            <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Login</h4>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail">Email Adress</label>
                        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Entrer votre email" required="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword">Mot de passe</label>
                        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Entrer votre mot de passe" required="">
                    </div>
                </div>


                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="mt-2 mb-3 d-flex justify-content-between align-items-center">
                    <button class="btn btn-danger full-width" type="submit">Login</button>
                    <a href="{{ path('app_signup') }}">ou s'inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
